<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <!-- This viewport meta is needed for viewports to work as it overwrites the starting size of objects when a browser displays them-->
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
        
    </head>

    <body>

        {% block content %}
        {% endblock %}

    </body>
</html>