{% extends "layout.html" %}

{% block title %}
Cooking
{% endblock %}

{% block content %}

    <div class="title">
        <h1>Cooking Conversion Tool</h1>
    </div>

    <!-- Creates the buttons at the top of the page. Clicking these buttons brings up the conversion tool for the associated substance -->
    <div class="navbar">
        <form action="/" method="POST" class="select_buttons">
            <button type="submit" name="liquidbutton" class="select_button" value="liquidbutton"><img src="../static/images/liquid_with_text.png" class="select_image" alt="Image for liquid button" style="vertical-align:middle"></button>
            <button type="submit" name="flourbutton" class="select_button" value="flourbutton"><img src="../static/images/flour_with_text.png" class="select_image" alt="Image for flour button" style="vertical-align:middle"></button>
            <button type="submit" name="butterbutton" class="select_button" value="butterbutton"><img src="../static/images/butter_with_text.png" class="select_image" alt="Image for butter button" style="vertical-align:middle"></button>
            <button type="submit" name="tempbutton" class="select_button" value="tempbutton"><img src="../static/images/temp_with_text.png" class="select_image" alt="Image for temp button" style="vertical-align:middle"></button>
        </form>
    </div>

    <!-- Checks if the user is on the homepage and shows intro text if so-->
    {% if home == "yes" %}
        <div class="general-text">
            <p><b>Please select what you'd like to convert from the above images.</b></p>
        </div>

        <!-- Creates a button to see details about where measurements were taken from -->
        <div class="WhereFiguresComeFrom">
            <form action="/" method="POST">
                <button type="submit" name="measurementinfo" value="measurementinfo" class="infobutton">Where did these figures come from and how accurate are the results?</button>
            </form>
        </div>

    {% endif %}

    <!-- If the liquid button is selected then the below HTML will be shown to the user -->
    {% if clicked == "liquidbutton" or substance == "liquid" %}

        <div class="Title2AndConversion">
            <div class="title2">
                <h1>Liquids</h1>
            </div>

            <form action="/" method="POST" class="conversion">
                <!-- Creates a field for user to input quantity of the unit the user wants to convert from, requires number as input within realistic range-->
                <!-- Also checks to see if there has been a submission for the liquidfromquantity made, if there has been then the value is kept when page refreshes-->
                <label for="liquidfromqty" class="conversion_child">Convert</label>
                <input name="liquidfromqty" class="conversion_child" placeholder="..." {% if substance == "liquid" %} value='{{ fq }}' {% endif %} required type="number" min="0" max="100000" step ="any">

                <!-- Creates drop down selection for the unit the user wants to convert from. Selection is required -->
                <select name="liquidfromunit" class="conversion_child" id="liquidfromunit" required>
                    <!-- Iterates through the list of units and their value in ml and shows only the unit names. If statement checks what was last selected and keeps it selected when the page refreshes-->
                    {% for i in liquiddb %}
                        <option value='{{ i[0] }}' {% if substance == "liquid" and i[0] == fu %} selected {% endif %}>{{ i[0] }}</option>
                    {% endfor %}
                </select>

                <!-- Creates a drop down selection for the units the user wants to convert to. Selection is required -->
                <label for="liquidtounit" class="conversion_child">to</label>
                <select name="liquidtounit" class="conversion_child" id="liquidtounit" required>
                    <!-- Iterates through liquiddb to fill out the drop down with options. Checks to see if an option has been chosen for this previously so this value is retained after a page submission.
                        When it finds 'Grams' when iterating through the list, it makes it the default value if nothing has already been submitted. This was done so the page can start with the unit converting to grams when first loaded.-->
                    {% for i in liquiddb %}
                        <option value='{{ i[0] }}' {% if substance == "liquid" and i[0] == tu %} selected {% elif i[0] == "Milliliters" and substance != "liquid" %} selected {% endif %} >{{ i[0] }}</option>
                    {% endfor %}
                </select>
                
                <!-- Creates a button to see details about where measurements were taken from-->
                <input name="liquid" class="conversion_child" type="submit" value="Go"/>
            </form>
        </div>

        <!-- Shows a box with the answer to the conversion below the form -->
        <div class="AnswerBox">
            {% if substance == "liquid" %}<img class="AnswerImage" style="vertical-align:middle" src="../static/images/liquid.png" alt="liquid icon"><p> {{ fq }} {{ fu }} is equal to <b>{{ tq }}</b> {{ tu }} </p>{% endif %}
        </div>

        <!-- Creates a button to see details about where measurements were taken from -->
        <div class="WhereFiguresComeFrom">
            <form action="/" method="POST">
                <button type="submit" name="measurementinfo" value="measurementinfo" class="infobutton">Where did these figures come from and how accurate are the results?</button>
            </form>
        </div>

    {% endif %}

    {% if clicked == "flourbutton" or substance == "flour" %}

        <div class="Title2AndConversion">
            <div class="title2">
                <h1>Flour</h1>
            </div>

            <form action="/" method="POST" class="conversion">

                <!-- Creates a field for user to input quantity of the unit the user wants to convert from, requires number as input within realistic range-->
                <!-- Also checks to see if there has been a submission for the flourfromquantity made, if there has been then the value is kept when page refreshes-->
                <label for="flourfromqty" class="conversion_child">Convert</label>
                <input name="flourfromqty" class="conversion_child" placeholder="..." {% if substance == "flour" %} value='{{ fq }}' {% endif %} required type="number" min="0" max="100000" step ="any">

                <!-- Creates drop down selection for the unit the user wants to convert from. Selection is required -->
                <select name="flourfromunit" class="conversion_child" id="flourfromunit" required>
                    <!-- Iterates through the list of units and their value in ml and shows only the unit names. If statement checks what was last selected and keeps it selected when the page refreshes-->
                    {% for i in flourdb %}
                        <option value='{{ i[0] }}' {% if substance == "flour" and i[0] == fu %} selected {% endif %}>{{ i[0] }}</option>
                    {% endfor %}
                </select>

                <!-- Creates a drop down selection for the units the user wants to convert to. Selection is required -->
                <label for="flourtounit" class="conversion_child">to</label>
                <select name="flourtounit" class="conversion_child" id="flourtounit" required>
                    <!-- Iterates through flourdb to fill out the drop down with options. Checks to see if an option has been chosen for this previously so this value is retained after a page submission.
                        When it finds 'Grams' when iterating through the list, it makes it the default value if nothing has already been submitted. This was done so the page can start with the unit converting to grams when first loaded.-->
                    {% for i in flourdb %}
                        <option value='{{ i[0] }}' {% if substance == "flour" and i[0] == tu %} selected {% elif i[0] == "Grams" and substance != "flour" %} selected {% endif %} >{{ i[0] }}</option>
                    {% endfor %}

                </select>

                <input name="flour" type="submit" class="conversion_child" value="Go"/>
            </form>
        </div>

        <!-- Shows a box with the answer to the conversion below the form -->
        <div class="AnswerBox">
            {% if substance == "flour" %}<img class="AnswerImage" style="vertical-align:middle" src="../static/images/flour.png" alt="flour icon"><p> {{ fq }} {{ fu }} is equal to <b>{{ tq }}</b> {{ tu }} </p>{% endif %}
        </div>

        <!-- Creates a button to see details about where measurements were taken from -->
        <div class="WhereFiguresComeFrom">
            <form action="/" method="POST">
                <button type="submit" name="measurementinfo" value="measurementinfo" class="infobutton">Where did these figures come from and how accurate are the results?</button>
            </form>
        </div>
        
    {% endif %}




    {% if clicked == "butterbutton" or substance == "butter" %}
    <div class="Title2AndConversion">
        <div class="title2">
            <h1>Butter</h1>
        </div>
        <form action="/" method="POST" class="conversion">

            <!-- Creates a field for user to input quantity of the unit the user wants to convert from, requires number as input within realistic range-->
            <!-- Also checks to see if there has been a submission for the butterfromquantity made, if there has been then the value is kept when page refreshes-->
            <label for="butterfromqty" class="conversion_child">Convert</label>
            <input name="butterfromqty" class="conversion_child" placeholder="..." {% if substance == "butter" %} value='{{ fq }}' {% endif %} required type="number" min="0" max="100000" step ="any">

            <!-- Creates drop down selection for the unit the user wants to convert from. Selection is required -->
            <select name="butterfromunit" class="conversion_child" id="butterfromunit" required>
                <!-- Iterates through the list of units and their value in ml and shows only the unit names. If statement checks what was last selected and keeps it selected when the page refreshes-->
                {% for i in butterdb %}
                    <option value='{{ i[0] }}' {% if substance == "butter" and i[0] == fu %} selected {% endif %}>{{ i[0] }}</option>
                {% endfor %}
            </select>

            <!-- Creates a drop down selection for the units the user wants to convert to. Selection is required -->
            <label for="buttertounit" class="conversion_child">to</label>
            <select name="buttertounit" class="conversion_child" id="buttertounit" required>
                <!-- Iterates through butterdb to fill out the drop down with options. Checks to see if an option has been chosen for this previously so this value is retained after a page submission.
                    When it finds 'Grams' when iterating through the list, it makes it the default value if nothing has already been submitted. This was done so the page can start with the unit converting to grams when first loaded.-->
                {% for i in butterdb %}
                    <option value='{{ i[0] }}' {% if substance == "butter" and i[0] == tu %} selected {% elif i[0] == "Grams" and substance != "butter" %} selected {% endif %} >{{ i[0] }}</option>
                {% endfor %}

            </select>

            <input name="butter" type="submit" class="conversion_child" value="Go"/>
        </form>
    </div>

    <!-- Shows a box with the answer to the conversion below the form -->
    <div class="AnswerBox">
        {% if substance == "butter" %}<img class="AnswerImage" style="vertical-align:middle" src="../static/images/butter.png" alt="butter icon"><p> {{ fq }} {{ fu }} is equal to <b>{{ tq }}</b> {{ tu }} </p>{% endif %}
    </div>

    <!-- Creates a button to see details about where measurements were taken from -->
    <div class="WhereFiguresComeFrom">
        <form action="/" method="POST">
            <button type="submit" name="measurementinfo" value="measurementinfo" class="infobutton">Where did these figures come from and how accurate are the results?</button>
        </form>
    </div>

    {% endif %}

    {% if clicked == "tempbutton" or substance == "temp" %}
        <div class="Title2AndConversion">
            <div class="title2">
                <h1>Temperature</h1>
            </div>
            <form action="/" method="POST" class="conversion">

                <!-- Creates a field for user to input quantity of the unit the user wants to convert from, requires number as input within realistic range-->
                <!-- Also checks to see if there has been a submission for the tempfromquantity made, if there has been then the value is kept when page refreshes-->
                <label for="tempfromqty" class="conversion_child">Convert</label>
                <input name="tempfromqty" class="conversion_child" placeholder="..." {% if substance == "temp" %} value='{{ fq }}' {% endif %} required type="number" min="-100000" max="100000" step ="any">

                <!-- Creates drop down selection for the unit the user wants to convert from. Selection is required -->
                <select name="tempfromunit" class="conversion_child" id="tempfromunit" required>
                    <!-- Iterates through the list of units and their value in ml and shows only the unit names. If statement checks what was last selected and keeps it selected when the page refreshes-->
                    {% for i in tempdb %}
                        <option value='{{ i[0] }}' {% if substance == "temp" and i[0] == fu %} selected {% endif %}>{{ i[0] }}</option>
                    {% endfor %}
                </select>

                <!-- Creates a drop down selection for the units the user wants to convert to. Selection is required -->
                <label for="temptounit" class="conversion_child">to</label>
                <select name="temptounit" class="conversion_child" id="temptounit" required>
                    <!-- Iterates through tempdb to fill out the drop down with options. Checks to see if an option has been chosen for this previously so this value is retained after a page submission.
                        When it finds 'Grams' when iterating through the list, it makes it the default value if nothing has already been submitted. This was done so the page can start with the unit converting to grams when first loaded.-->
                    {% for i in tempdb %}
                        <option value='{{ i[0] }}' {% if substance == "temp" and i[0] == tu %} selected {% elif i[0] == "Fahrenheit" and substance != "temp" %} selected {% endif %} >{{ i[0] }}</option>
                    {% endfor %}

                </select>

                <input name="temp" type="submit" class="conversion_child" value="Go"/>
            </form>
        </div>

        <!-- Shows a box with the answer to the conversion below the form -->
        <div class="AnswerBox">
            {% if substance == "temp" %}<img class="AnswerImage" style="vertical-align:middle" src="../static/images/temp.png" alt="temp icon"><p> {{ fq }} {{ fu }} is equal to <b>{{ tq }}</b> {{ tu }} </p>{% endif %}
        </div>

        <!-- Creates a button to see details about where measurements were taken from -->
        <div class="WhereFiguresComeFrom">
            <form action="/" method="POST">
                <button type="submit" name="measurementinfo" value="measurementinfo" class="infobutton">Where did these figures come from and how accurate are the results?</button>
            </form>
        </div>

        {% endif %}

        <!-- If the button is clicked then it takes the user to an overview of where the measurements were taken from, with links -->
        {% if clicked == "measurementinfo" %}
            <div class="general-text">
                <p>Input quantity is limited between 0 and 10,000 for all conversions apart from temperature, which ranges from -10,000 to 10,000. Answers are calculated to 4 decimal points. Due to varying definitions of measurements available,
                I have taken values for spoons, cups and ounces from the 1993 <a href="https://www.fda.gov/regulatory-information/search-fda-guidance-documents/guidance-industry-guidelines-determining-metric-equivalents-household-measures" target="_blank"><i>'Guidelines for Determining Metric Equivalents of Household Measures'</i></a>. The value for pounds is derived from this ounce value multiplied by 16.
                The gram values for flour and butter for these measurements are converted from these ml values, using densities (g/ml) provided by Traditional Oven. 
                <a href="https://www.traditionaloven.com/culinary-arts/cooking/butter/convert-milliliter-ml-to-gram-g.html" target="_blank"><i>Butter density</i></a>, <a href="https://www.traditionaloven.com/culinary-arts/flours/all-purpose-flour/convert-milliliter-to-gram.html" target="_blank"><i>Flour density</i></a></p>
            </div>
        {% endif %}


{% endblock %}